* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
}
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.header-top {
  background: #000000;
}
.header-top > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 44px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #969696;
}
.header-top > div > div {
  display: flex;
  align-items: center;
}
.header-top > div > div img:first-child {
  margin-right: 12px;
}
.header-bottom {
  height: 80px;
  background: #0f0f0f;
}
.header-bottom > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.links a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #969696;
  text-decoration: none;
  padding: 0 10px;
}
.links .link:hover {
  padding: 30px 10px;
  background: #1f1f1f;
}
.main-hero {
  background-image: url("./image/hero-bg.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
}
.main-frame {
  width: 320px;
  height: 320px;
  border: 4px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-hero > div {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.main-frame span {
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border-top: 2px solid white;
  margin-top: 4px;
  padding-top: 7px;
}
.main-frame img {
  width: 200px;
}
.main-hero > div p {
  width: 730px;
  height: 96px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 80px;
}
.main-season,
.main-collection {
  height: 80vh;
  display: flex;
}
.main-season-left,
.main-collection-left {
  width: 60%;
  height: 100%;
  background: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.main-season-right,
.main-collection-right {
  width: 40%;
  height: 100%;
}

.watches {
  display: flex;
  /* flex-wrap: wrap; */
}
h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.delimetr {
  width: 120px;
  height: 2px;
  background-color: white;
}
.watches > div div {
  width: 85%;
  height: 245px;
  background: #191b1c;
  margin-bottom: 20px;
}
.watches img {
  width: 100%;
  height: 100%;
}
.toggleMenu {
  display: none;
}
.watches span {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.watches > div {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.main-season-right {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: end;
  background-image: url("./image/main-seasonBg.png");
  background-position: center;
  background-size: cover;
}
.main-season-right a,
.main-collection-left a {
  margin-bottom: 55px;
  margin-top: 25px;
  border: 1px solid white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.main-collection {
  flex-direction: row-reverse;
}
.main-collection-right {
  background-image: url(./image/Rectangle\ 9.png);
  background-position: center;
  background-size: cover;
}
.main-collection-left p {
  width: 80%;
  /* height: 173px; */
}
.new-arrival {
  background: #000000;
  padding: 80px 0;
}

.new-arrival > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.new-arrival .watches {
  justify-content: space-between;
  flex-wrap: wrap;
}
.new-arrival .delimetr {
  margin: 50px 0;
}
.new-arrival h2 {
  margin-bottom: 20px;
}
.new-arrival .watches > div {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.brands {
  background: #0f0f0f;
  height: 250px;
}
.brands > div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.brands__icons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer {
  background-image: url("./image/footer-bg.png");
  background-position: center;
  background-size: cover;
  /* height: 400px; */
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  padding-top: 7%;
}
footer .container > div {
  width: 32%;
}
footer p {
  text-align: left;
  margin-bottom: 20px;
}
footer h3 {
  margin-bottom: 20px;
}
footer a {
  background: #0f0f0f;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #d0d0d0;
  text-decoration: none;
  padding: 13px 15px;
}
footer .buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}
.mailing-list input {
  width: 55%;
  height: 42px;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  outline: none;
  padding-left: 10px;
}
.mailing-list input + a {
  display: inline-block;
  /* width: 40%; */
}
.mailing-list input::placeholder {
  color: #e4dcdc;
}
.copyright {
  background: #0f0f0f;
}
.copyright .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  color: #d0d0d0;
}
@media (max-width: 1200px) {
  .brands__icons img {
    width: 25%;
  }
  .mailing-list input {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (max-width: 992px) {
  .main-season {
    flex-direction: column;
    height: 120vh;
  }
  .main-season-left {
    padding: 35px 0;
  }
  .main-season-left .delimetr {
    margin: 10px 0;
  }
  .main-season-left,
  .main-season-right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .header-top {
    display: none;
  }
  .toggleMenu {
    display: inline;
  }
  .links {
    display: none;
  }
  .main-hero > div p {
    width: 82%;
  }
  .main-collection-right {
    display: none;
  }
  .main-collection-left {
    width: 100%;
  }
  footer.container {
    justify-content: space-evenly;
  }
  .description {
    display: none;
  }
  .watches,
  .new-arrival .watches {
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100%;
  }
  .watches > div div {
    min-width: 280px;
    margin: 0 20px;
  }
  .watches > div {
    height: 55vh;
  }
  .watches img {
    padding: 15px 0;
  }
  footer a {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .brands__icons {
    flex-direction: column;
    align-items: center;
  }
  .brands {
    height: 100%;
  }
  .brands__icons img {
    width: 60%;
  }
  footer .container {
    flex-direction: column;
    align-items: center;
  }
  footer {
    height: 100%;
    padding: 40px 0;
    text-align: center;
  }
  footer.container > div {
    width: 65%;
  }
  footer .buttons {
    margin-bottom: 20px;
  }
}
